
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cat-vite</title>
  </head>
  <body>
    <div class="video-container">
      <video autoplay playsinline id="gift-video">
        <source src="/mi-video-regalo.mp4" type="video/mp4" />
        Tu navegador no soporta videos.
      </video>

      <button
        class="replay-btn"
        onclick="document.getElementById('gift-video').play()"
      >
        Ver de nuevo ❤️
      </button>
    </div>
  </body>
</html>
